@page
@model RazorPages.Pages.Deliveries.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Delivery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Delivery.UserName" value="@User.Identity?.Name" />
            <div class="form-group">
                <label asp-for="Delivery.Date" class="control-label"></label>
                <div class='input-group date' id='datepicker'>
                    <input asp-for="Delivery.Date" type="text" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="Delivery.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pallets" class="control-label">Pallets, select one or many</label>
                <select multiple asp-for="Pallets" asp-items="ViewBag.Pallets" class="form-select">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label">Suppliers, select one</label>
                <select asp-for="SupplierId" asp-items="ViewBag.Suppliers" class="form-select">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
        <script>
            $(function () {
                $('#datepicker').datetimepicker({
                    format: 'YYYY-MM-DD hh:mm:ss'
                });
            });
        </script>
    }
}
