@page
@model RazorPages.Pages.Pallets.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Pallet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pallet.Id" />
            <div class="form-group">
                <label asp-for="Pallet.Product" class="control-label">Products, select one or many</label>
                <select asp-for="Pallet.Product" asp-items="ViewBag.Products" class="form-select">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Pallet.Amount" class="control-label"></label>
                <input asp-for="Pallet.Amount" class="form-control" />
                <span asp-validation-for="Pallet.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
